* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    width: 100%;
    height: 100vh;
}

.section-1 {
    
    background: linear-gradient(90deg,#FFB7E1,#FFBCDD);
    padding: 24px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 100px;
    height: auto;
}

.img img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}


/* Sección 2: Formulario */
.section-2 {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
}
.contacto-formulario {
    background-color: #F070B6 ;
    width: 80%;
    max-width: 600px;
    padding: 2em;
    border-radius: 10px;
}
.titulo {
    font-size: 2em;
    text-align: center;
    color: #FFFFFF;
}
.contacto-formulario hr {
    width: 3em;
    height: 0.25em;
    background: linear-gradient(90deg,#FFBCDD ,#DC52A3 );
    border: none;
    border-radius: 1em;
    margin: 1em auto;
}
.formulario {
    display: flex;
    flex-direction: column;
}
.formulario label {
    color: #FFFFFF;
    margin: 0.5em 0 0.25em;
}
.formulario input,
.formulario textarea {
    padding: 0.75em;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}
.formulario button {
    margin-top: 1em;
    padding: 0.75em;
    background-color: #DC52A3 ;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.formulario button:hover {
    background-color: #BE1D76 ;
}

/* Sección 3: Footer */
.section-3 {
    width: 100%;
    height: 10em;
    background: linear-gradient(90deg,#FFBCDD ,#DC52A3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-3 hr {
    background: #BE1D76  ;
    width: 100%;
    height: 5%;
    border: none;
}
.s3-contenido {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
}
.s3-logo {
    width: 50%;
}
.s3-logo img {
    object-fit: cover;
    height: 100%;
}
.s3-textos {
    width: 30%;
}
.s3-textos h3, .s3-textos p, .s3-textos a {
    color: #FFFFFF;
    font-size: 0.9em;
}
/*.footer {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 0 10%;
}*/
.footer {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 0 10%;
}
.autor, .politicas {
    text-decoration: none;
    color: #FFFFFF;
    margin: 0.25em;
}
.back a{
    font-size: 15px;
    color: #ffff;
}